.layout-wrapper {
  padding-top: 45px;
}

.button {
  margin-top: 16px;
}

.create-board {
  cursor: pointer;
  background-color: white;
  width: fit-content;
  max-width: 200px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}